# SQL Server Details
AZURE_SQL_SERVER=**-dbserver.database.windows.net
AZURE_SQL_DATABASE=agentic-ai-starter-db

# Required ODBC driver for Azure SQL
ODBC_DRIVER=ODBC Driver 18 for SQL Server


# Azure AI Foundry values (from earlier)
AZURE_AI_PROJECT_ENDPOINT=xxxxx
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4o